<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Shop</title>
    <link rel="stylesheet" href="../static/webstyle.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
  </head>


  <body>
    {% if show_predictions_madel %}
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Thanks for leaving a review!</h2>
        <p style="margin-top:30px;">Click <a href="/shop">here</a> to take a look at your reviews, or click <a href="index">here</a> to go back to the home page.</p>
      </div>

    </div>
  {% endif %}
    <header id="header" id="home">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
              <ul>
              <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
              <a href="/signin">Log In</a>
              <a style="color:white;">|</a>
              <a href="/signup">Sign Up</a>
            </div>
          </div>
        </div>
    </div>
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="index"><img src="../static/img/logo2.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="index">Home</a></li>
            <li><a href="/shop">Shop</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row fullscreen d-flex align-items-center justify-content-center">
        <div class="banner-content col-lg-12 col-md-12">
          <h6 class="text-uppercase">Welcome to our website</h6>
          <h1>
            We have a great selection of products
          </h1>
          <a href="/shop" class="primary-btn header-btn text-uppercase">Take A Look</a>
        </div>
      </div>
    </div>
  </section>



  <section class="home-about-area section-gap" id="about">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-10 col-md-12 home-about-left">
          <h6>Welcome</h6>
          <h1>
            We’ve made a life <br>
            that will change you
          </h1>
          <p class="sub">We are here to listen from you deliver exellence</p>
          <p class="pb-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
          </p>
          <a class="primary-btn" href="#">Have a look at our products</a>
        </div>
      </div>
    </div>
  </section>

      <script>
      // Check browser support
      if (typeof(Storage) !== "undefined") {
      // Store
        localStorage.setItem("sessionid","{{ session }}" );
      // Retrieve
        document.getElementById("react").innerHTML = localStorage.getItem("sessionid");
      } else {
        document.getElementById("react").innerHTML = "Sorry, your browser does not support Web Storage...";
      }
      </script>



      {% block body %}{% endblock %}

      <footer class="footer-area section-gap">
        <div class="container">
          <div class="row">
            <div class="footer-about-us col-lg-5 col-md-6 col-sm-6">
              <div class="footer-section-area">
                <h6>About Us</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                </p>
                <p class="footer-text">
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved to Tomas Zurankovas, James Credgington and Michal M
                </p>
              </div>
            </div>
            <div class="footer-nav-links col-lg-5 col-md-6 col-sm-6">
              <div class="footer-section-area">
                <h6>Links</h6>
                <p class="footer-text-link">
                  <a href="index">Home</a>
                </p>
                <p class="footer-text-link">
                  <a href="/shop">Shop</a>
                </p>
                <p class="footer-text-link">
                  <a href="/signin">Log In</a>
                </p>
                <p class="footer-text-link">
                  <a href="/signup">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>


    </div>
    <!-- scripts -->
    <script src="../static/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://npmcdn.com/react-router@2.8.1/umd/ReactRouter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- <script type="text/jsx" src="../static/main.jsx"></script> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="./static/build/bundle.js"></script>

  </body>
</html>
