<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home | Shop</title>
    <link rel="stylesheet" href="../static/webstyle.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
  </head>



  <body>

    <header id="header" id="home">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
              <ul>
              <li><a href="/profile">Welcome {{session}} </a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
              <a href="/profile">Profile</a>
              <a style="color:white;">|</a>
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </div>
    </div>


      <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
          <a href="index"><img src="../static/img/logo2.png" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="index">Home</a></li>
              <li><a href="/shop">Shop</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>


    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Shop</h2>
                        <div class="breadcrumb-option">
                            <a href="index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="shop-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-push-2">
						<div class="row row-pb-lg">

							<div class="col-md-4 text-center">
								<div class="product-entry">
                  <a href="/item"><div class="product-img" style="background-image: url(../static/img/item-1.jpg);">
									</div></a>
									<div class="desc">
                    <h3><a href="product-detail.html">Essential Oil</a></h3>
										<p class="price"><span>£19.99</span></p>
									</div>
								</div>
							</div>

							<div class="col-md-4 text-center">
								<div class="product-entry">
									<div class="product-img" style="background-image: url(../static/img/item-1.jpg);">
									</div>
									<div class="desc">
                    <h3><a href="product-detail.html">Essential Oil</a></h3>
										<p class="price"><span>£19.99</span></p>
									</div>
								</div>
							</div>

							<div class="col-md-4 text-center">
								<div class="product-entry">
									<div class="product-img" style="background-image: url(../static/img/item-1.jpg);">
									</div>
									<div class="desc">
                    <h3><a href="product-detail.html">Essential Oil</a></h3>
										<p class="price"><span>£19.99</span></p>
									</div>
								</div>
							</div>

							<div class="col-md-4 text-center">
								<div class="product-entry">
									<div class="product-img" style="background-image: url(../static/img/item-1.jpg);">
									</div>
									<div class="desc">
                    <h3><a href="product-detail.html">Essential Oil</a></h3>
										<p class="price"><span>£19.99</span></p>
									</div>
								</div>
							</div>

							<div class="col-md-4 text-center">
								<div class="product-entry">
									<div class="product-img" style="background-image: url(../static/img/item-1.jpg);">
									</div>
									<div class="desc">
                    <h3><a href="product-detail.html">Essential Oil</a></h3>
										<p class="price"><span>£19.99</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-2.5 col-md-pull-10">
						<div class="sidebar">
							<div class="side">
								<h2>Admin</h2>
                <a class="primary-btn" href="#">Add Product</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>











    <footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="footer-about-us col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Us</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
              </p>
              <p class="footer-text">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved to Tomas Zurankovas, James Credgington and Michal M
              </p>
            </div>
          </div>
          <div class="footer-nav-links col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Links</h6>
              <p class="footer-text-link">
                <a href="index">Home</a>
              </p>
              <p class="footer-text-link">
                <a href="/shop">Shop</a>
              </p>
              <p class="footer-text-link">
                <a href="/signin">Log In</a>
              </p>
              <p class="footer-text-link">
                <a href="/alreadysignup">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>




  </body>
</html>
